.sidenav {
  height: 100%;
  width: 110px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #567189;
  overflow-x: hidden;
}

.sidenav button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #4d667c;
  width: 100%;
  background-color: transparent;
  height: 90px;
  text-align: center;
  padding-left: 10px;
}

.sidenav button:hover {
  background-color: #4c667d;
}

.sidenav label {
  display: block;
  color: rgb(236, 232, 232);
  font-size: 15px;
}

svg {
  fill: rgb(236, 232, 232);
}